body {
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      background-color: #f4f4f4;
      color: #333;
    }
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 30px;
}

header,
nav {
  position: relative;
  z-index: 3;
}

.logo-container .logo {
  width: 80px;
  height: auto;
  margin-left: 20px;
  background: transparent;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: black;
  font-weight: 600;
  text-decoration:none;
  font-size: 20px;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: red;
  text-decoration:none;
}

/*main page*/
.main {
    background-image: url('https://ai-cases.com/wp-content/uploads/2022/01/Dynamic-Pricing_small.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-text {
    text-align: center;
}

.breadcrumb {
    font-size: 16px;
    background-color: white;
    color: black;
    padding: 20px 12px;
  
    font-weight: 600;
    display: inline-block;
    margin-bottom: 20px;
}

.breadcrumb a {
    text-decoration: none;
    color: black;
    padding-left: 10px;
}

h3 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
/*2page*/
.page2 {
  background-color: white;
  padding: 60px 40px;
  width: 100vw;
  height:230vh ;
}

.page2 .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 100px;
}

.page2 .text {
  flex: 1 1 50%;
  margin-top: 60px;
}

.page2 .text .span1 {
  font-size: large;
  font-weight: 900;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: red;
  text-transform: uppercase;
  margin-left: 100px;
}

.page2 .text h1 {
  font-size: 40px;
  font-weight: 700;
   margin-left: 100px;
  text-transform: capitalize;
  margin-top: 20px;
  line-height: 56px;
}

.page2 .text p {
  color: #4a4a4a;
  font-size: 17px;
  line-height: 28px;
  margin-top: 20px;
   margin-left: 100px;
}

.item {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  padding: 20px 25px;
   margin-left: 100px;
  height: 150px;
  width: 400px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
}

.item img {
  width: 70px;
  margin-right: 20px;
  padding: 20px;
}

.item h6 {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  color: #1e1e1e;
  line-height: 1.5;
}

.item h6 span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  color: #999999;
}

.page2 .form {
  flex: 1 1 40%;
  max-width: 350px;
  background-color: whitesmoke;
  border-radius: 25px;
  padding: 40px;
  box-shadow: 5px 5px 5px gray;
  line-height: 40px;
  font-family: sans-serif;
  margin-top: 60px;
  margin-right: 100px;
}

.page2 .form input {
  width: 100%;
  border-radius: 25px;
  height: 25px;
  background-color: rgb(234, 234, 245);
  padding-left: 20px;
  border: none;
  margin-bottom: 10px;
}

.page2 .form textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  background-color: rgb(234, 234, 245);
  resize: none;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
}

.page2 .form button {
  background-color: black;
  color: azure;
  height: 40px;
  width: 130px;
  border-radius: 25px;
  margin-top: 20px;
  font-size: large;
  border: none;
}

.page2 .form button:hover {
  background-color: orangered;
  cursor: pointer;
}
.map-container {
    flex: 1;
    min-width: 1000px;
    max-width: 700px;
    height: 450px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 150px;
}

.map-container iframe {
    width: 1000px;
    height: 100%;
    border: 0;
}
.last-part {
    width: 100vw;
    height: 100px;
    background-color: black;
    margin-top: 50px;
}

.last-part h3 {
    color: white;
    padding: 40px;
    font-size: medium;
    margin-left: 400px;


}
